.navbar{
    padding: 20px  0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoutBtn{
    background: none;
    cursor: pointer;
}
.navRight{
    display:flex;
    align-items: center;
}
.avatar{
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #1F7A8C;
    margin: 0 20px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}