.card{
    width: 500px;
    max-width: 90%;
    min-height: 300px;
    background-color: #1F7A8C;
    padding: 30px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.headingWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.heading{
    font-size: 22px;
    font-weight:bold;
    margin-left: 10px; 
}