.modelMask{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modelBody{
    width:50%;
    max-width: 500px;
    background: #1d1d1d;
    border-radius: 20px;
    position: relative;
}
.modelHeader{
    padding:30px;
    border-bottom: 2px solid black;
}

.roomTypes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

}

.typeBox{
    display:flex;
    flex-direction:column;
    align-items: center;
    cursor: pointer;
    padding:10px 0;
    border-radius: 18px;
}
.typeBox.active{
    background: #262626;
}
.heading{
    margin-bottom: 5px
}
.roomHeading{
    font-size: 18px;
    margin: 10px 0;
}
.modelFooter{
    padding: 30px;
    text-align: center;
}
.modelFooter h3{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}
.footerButton{
    background: #20bd5f;
    color: #fff;
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: center;
    padding: 7px 7px;
    border: none;
    border-radius: 50px;
    margin: 0 auto;
    font-size: 18px;
    transition: all .3s ease-in-out
} 
.footerButton:hover{
    background-color: #13763b;
}

.footerButton span{
    margin-left: 5px;
}

.closeButton{
    position: absolute;
    right:3px;
    top: 5px;
    background: none;
    color: #E1E5F2;
}