html{
  font-size : 16px;
}
*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, padding, ol, ul{
   margin:0;
  padding: 0;
  font-weight : normal;
  -webkit-front-smoothing: antialiased; 
  }
  ol,ul{
    list-style: none;
  }
  img{
    max-width:100%;
    height:  auto;
  }
  body{
    background: #022B3A;
    font-family: 'Nunito', sans-serif;
    color: #fff;
  }
  .container{
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;

  }
  button{
    border: none;
    outline:none;
    cursor: pointer;
    font-weight: normal;
  }