.roomsHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0; 
}

.left{
    display:flex;
    align-items: center;
}
.heading{
    font-size: 20px;
    font-weight: bold;
}
.searchBox{
    background: #1F7A8C;
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    min-width: 300px;
    border-radius: 20px;
}
.searchInput{
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;   
    color: #fff;
    font-size: 16px;
    width: 100%;
}
.heading{
    position: relative;
}
.heading::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 60%;
    height: 4px;
    background: #1F7A8C;
}
.startButton{
    display: flex;
    align-items:center;
    background: hsl(120, 64%, 39%);
    padding: 5px 20px;
    border-radius: 20px;
    color: #fff;
    transition: all .3s ease-in-out;
}
.startButton span{
    font-size: 16px;
    margin-left: 5px;

}
.startButton:hover{
    background: hsl(120deg 70% 26%);
}
.roomList{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    margin-top: 60px;
}